h1, h2, h3, h4, h5, h6 {
  color: #E0B973 !important; /* example: a gold-like color */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #E0B973;
}